:root {
  --ff-primary:'Inter', sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --clr-primary: #fff;
  --clr-accent: #5093E2;
  --clr-lite: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size:11px; 
  font-weight:var(--fw-reg);
  line-height: 15px;  
}

.container {
  max-width:317px;
  margin: auto;
  background-color: #1A1B21;
  color:var(--clr-primary);
}
.img {
  width:100%;
  max-height: 317px;
  object-fit: cover;
  object-position: 100% 0;
}
.context{
  display: block;
  text-align: center;
}
h2.title {
  margin:0;
  font-size: 25px;
  font-weight: var(--fw-bold);
  line-height:30px;
  margin-top:21px;
}
p.position {
  font-size:12.8px;
  line-height:15px;
  color:#F3BF99;
  margin-top: 6px;
  margin-bottom: 9px;
}
a.website {
  color:var(--clr-lite);
  text-decoration: none;
}
.contact-btn {
  margin-top:15px;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  padding:8px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius:2px;
  offset: 0px, 1px rgba(0,0,0,0.05);
}
.icon{
  margin-right:9px;
  color:#374151;
}
.btn-light{
  background-color: var(--clr-primary);
  color:#374151;
}
.btn-light:hover,
.btn-light:focus {
  background: #D1D5DB;
} 
.btn-dark{
  background-color: var(--clr-accent);
  color:var(--clr-primary);
}
.btn-dark:hover,
.btn-dark:focus {
  background: #2077da;
} 
.section-container {
  max-width:247px;
  margin:auto;
}
.section--title {
  font-size:16px;
  font-weight: var(--fw-bold);
  line-height:24px;
  color:var(--clr-lite);
}
.section--content {
  color: #DCDCDC;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #161619;
  margin-top: 24px;
  padding:19px 20px;
}